{% extends "base.html" %}

 {% block content %}

    <h1 class="my-5">These are the notes:</h1>
        <div class="row row-cols3 g-2">
            {% for note in notes %}
                <div class="col">
                    <div class="p-3 border">
                        <!-- <h3><a href="/smart/notes/{{note.id}}">{{note.title}}</a></h3> -->
                        <h3><a href="{% url 'notes.detail' pk=note.id %}" class="text-dark text-decoration-none">{{note.title}}</a></h3>
                        {{note.text|truncatechars:10}}
                    </div>
                </div>
            {% endfor %}
        </div>


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>



{% endblock  %}